
services:
  postgres:
    image: postgres:16
    container_name: meu-menu-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: meumenu
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: